<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>

  <div id="app" class="container" style="margin-top: 20px;">
    <div v-cloak class="columns">
      <div class="column">
        <div class="field">
          <div class="control">
            <input v-model="sort"class="input" type="text" placeholder="Small input">
          </div>
        </div>
        <table class="table is-fullwidth is-bordered is-striped is-narrow is-hoverable">
          <thead>
            <tr>
              <th>
                Item
              </th>
              <th>
                Price
              </th>
            </tr>
            <tr>
              <th>Total</th>
              <th>{{ totalCostPantsjAndWallets }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in lampsAndWallet.toArray()">
              <td>{{ item.title }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column"></div>
    </div>


  </div>

  <script src="public/js/app.js"></script>
</body>
</html>